<a href="https://colab.research.google.com/github/OksanaGlazkova/Python/blob/main/%D0%94%D0%97_%D0%A0%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_%D1%81_Apache_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

В файле movies.csv лежит база фильмов. Название фильма записано во втором столбце title.
Разбейте названия фильмов на отдельные слова и посчитайте какое слово встречается чаще всего.

Если у вас не получится со Спарком, то сделайте задание просто на питоне.

In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv('movies.csv')
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
word = movies['title'].str.lower().str.extractall('(\S+)').value_counts()
word.head(30)

the       3076
of         974
a          380
and        351
in         298
(1996)     275
(2000)     273
(2002)     272
(1998)     272
(2001)     267
(1997)     267
(1995)     266
(2006)     261
(1999)     261
(2009)     255
(2007)     255
(2004)     247
(2008)     247
(1994)     240
(2003)     238
(2005)     233
(2011)     230
(2010)     228
(2013)     224
(2012)     222
(2014)     221
to         212
(1993)     198
(2015)     182
(1988)     164
dtype: int64